
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    background-color: #272A31;
}
/* general style */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 0px;
}

/* header */
header {
    background: rgb(245, 244, 244);
    color: #000000;
    padding: 0px 0px;
}
.header1 {
    background: #000000;
    color: #dfd9d9;
    padding: 0px 0px;
    text-align: end;
    font-size: smaller;
    
}
header h3 {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 0;
}

nav a {
    color: #000000;
    text-decoration: none;
}


.imgicon {
    border-image-width: 1%;
}


/* Main content */
main {
    padding: 20px;
    background-image:url(./fundo.png);
    background-size:cover; /* image fill the screen */
    background-repeat: no-repeat; 
     background-position: center; /* image centralized */
    

}
.h1text {
    text-align: left;
    color: #EC5242;
    font-size: 2rem;
    margin-left: 10%;
   
}
.bigtext {
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient( #c59103, orange, hsl(0, 90%, 47%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Necessário para o efeito funcionar */
    margin-left: 10%;
       }
    
    

   

.text3{
    text-align: center;
    font-size: smaller;
    color:#D3D3D3;
    
}
.box3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #272A31;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-right: 20%;

}
.date{
    text-align: left;
    font-size: 1rem;
    color: #EC5242;
    margin-left: 10%;
    
}
.local{
    text-align: left;
    font-size: 70%;
    color: #EC5242(0, 98%, 53%, 0.557);
    margin-left: 10%;
}

footer {
    text-align: center;
    margin-top: 20px;
}
.tittlediv{
    text-align: center;
    color:#D3D3D3;
}
.div2{
    background-color: #272A31;
}
/* style for smaller mobile screen */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 2%;
    }

    nav a {
        font-size: 1.2rem;
    }

    main {
        padding: 10px;
    }

    footer {
        font-size: 0.9rem;
    }
}
/*division main progam and featured speakers */

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #272A31;
    border: 1px solid #272A31;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    flex: 1 1 calc(15% - 5px); /* 5 cards per line */
    background-color: #272A31;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin: 0 0 10px;
}

.card p {
    margin: 0;
    font-size: 14px;
    color:#D3D3D3;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Dois cards por linha */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Um card por linha */
    }
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;    
    background-color: #272A31;
    border: 0.5px solid#D3D3D3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card2 {
    flex: 1 1 calc(40% - 5%); /* 2 cards per line */
    background-color: #272A31;
    border: 1px solid hwb(0 0% 100%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px hsl(0, 11%, 96%);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 80%;
    
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card2 h3 {
    margin: 0 0 10px;
}

.card2 p {
    margin: 0;
    font-size: 14px;
    color: #D3D3D3;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Dois cards por linha */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* Um card por linha */
    }
}
footer{
    background-color: #272A31;
    color: #D3D3D3;
}

.price{
background-image: url(./fundo.png);
}
table{
    margin: 20%;
    color: #D3D3D3;
    background-color: #272A31;
    size: 100%;

}



