
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general style */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 10px;
}

/* header */
header {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
}
.header1 {
    background: #000000;
    color: #f7f5f5;
    padding: 10px 20px;
    text-align: end;
}
header h3 {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 0;
}

nav a {
    color: #000000;
    text-decoration: none;
}
.list1 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 0;
    font-size: smaller;
}
.imgicon {
    border-image-width: 1%;
}


/* Main content */
main {
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
/* Estilos para telas menores (mobile) */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        font-size: 1.2rem;
    }

    main {
        padding: 10px;
    }

    footer {
        font-size: 0.9rem;
    }
}


