
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general style */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 0px;
}

/* header */
header {
    background: rgb(245, 244, 244);
    color: #000000;
    padding: 0px 0px;
}
.header1 {
    background: #000000;
    color: #dfd9d9;
    padding: 0px 0px;
    text-align: end;
    font-size: smaller;
}
header h3 {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 0;
}

nav a {
    color: #000000;
    text-decoration: none;
}


.imgicon {
    border-image-width: 1%;
}


/* Main content */
main {
    padding: 20px;
    background-image:url(./ccgs.png);
    background-size:contain; /* Faz a imagem preencher a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
     background-position: center; /* Centraliza a imagem */
    

}
.h1text {
    text-align: center;
    color: orangered;
    font-size: 2rem;
    padding: 40px;
}
.bigtext {
    font-size: 3rem;
    text-align:center ;
    color: orangered;
    height: 100px;
    padding: 40px;
}
.text3{
    text-align: center;
    font-size: smaller;
    padding: 40px;
    padding-top: 200px;
}
.date{
    text-align: center;
    font-size: 2rem;
    color: hwb(0 50% 50%);
    padding: 90px;
}
.local{
    text-align: center;
    font-size: medium;
    color: hwb(0 18% 82% / 0.555);
    padding: 30px;
}

footer {
    text-align: center;
    margin-top: 20px;
}
.tittlediv{
    text-align: center;
    color: aliceblue;
}
.div2{
    background-color: rgb(26, 25, 25);
}
/* Estilos para telas menores (mobile) */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        font-size: 1.2rem;
    }

    main {
        padding: 10px;
    }

    footer {
        font-size: 0.9rem;
    }
}


